#type bluetooth_data_file, data_file_type, file_type;
allow bluetooth bluetooth_control:chr_file { rw_file_perms };
allow bluetooth config_file:dir { search read };
allow bluetooth config_file:file {read write open };
allow bluetooth sysfs:file {write};
allow bluetooth tty_device:chr_file {read ioctl write};
allow bluetooth tty_device:chr_file {open};
allow file_type labeledfs:filesystem associate;
allow file_type rootfs:filesystem associate;
allow file_type tmpfs:filesystem associate;
allow bluetooth_data_file ecryptfs:filesystem associate;

allow bluetooth bluetooth_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow logtoold bluetooth_data_file:dir search;
allow bluetooth bluetooth_data_file:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_data_file:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_server bluetooth_data_file:file { read write getattr };
allow unconfineddomain bluetooth_data_file:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow system_server bluetooth_data_file:dir { read write getattr add_name search };
allow unconfineddomain bluetooth_data_file:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow system_app bluetooth_data_file:dir search;
allow unconfineddomain bluetooth_data_file:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_data_file:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_data_file:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow system_server bluetooth_data_file:fifo_file { read write create getattr setattr open };
allow unconfineddomain bluetooth_data_file:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow installd bluetooth_data_file:file { getattr setattr relabelfrom relabelto unlink rename };
allow gpsd bluetooth_data_file:file { read write create getattr lock append rename open };
allow installd bluetooth_data_file:dir { ioctl read write create getattr setattr relabelfrom relabelto unlink link rename add_name remove_name reparent search rmdir open };
allow gpsd bluetooth_data_file:dir { read write create add_name remove_name search open };
allow installd bluetooth_data_file:lnk_file { create getattr setattr relabelfrom relabelto unlink rename };
allow installd bluetooth_data_file:sock_file { getattr setattr relabelfrom relabelto unlink rename };
allow installd bluetooth_data_file:fifo_file { getattr setattr relabelfrom relabelto unlink rename };
allow gpsd bluetooth_data_file:fifo_file { read write create getattr setattr append unlink open };
allow bluetooth_data_file ecryptfs:filesystem associate;
allow init bluetooth_data_file:file relabelto;
allow logbackup bluetooth_data_file:dir { read getattr search open };
allow init bluetooth_data_file:dir relabelto;
allow init bluetooth_data_file:lnk_file relabelto;
allow init bluetooth_data_file:chr_file relabelto;
allow init bluetooth_data_file:blk_file relabelto;
allow init bluetooth_data_file:sock_file relabelto;
allow init bluetooth_data_file:fifo_file relabelto;

