type bluetooth_control, dev_type;
type asec_image_file_ext, data_file_type, file_type;
type ecryptfs, fs_type;
#type log_file, file_type;
#type thermal_socket, file_type;
#type config_file, file_type;
type factory_file, file_type;
type mmgr_socket, file_type;
type mmgr_exec, exec_type, file_type;

type sysfs_uart_power_ctrl, dev_type;
type nvm_ctl_socket, file_type;
type sensors_exec, exec_type;

type crashlogd, domain, mlstrustedsubject, unconfineddomain;
type crashlogd_exec, exec_type, file_type;
type crashlogd_tmpfs, file_type;


#type wlan_prov_exec, exec_type;

type bd_prov_exec, exec_type;

type fg_conf_exec, exec_type;
type bcu_cpufreqrel_exec, exec_type, file_type;
type logcat_exec, exec_type;

type atproxy_usbreset_exec, exec_type;

#type charge_exec, exec_type;

type logtoold, domain, mlstrustedsubject;
type logtoold_exec, exec_type, file_type;
type logtoold_socket, file_type;
type logtoold_tmpfs, file_type;
type logbackup, domain, mlstrustedsubject;
type logbackup_exec, exec_type, file_type;
type logbackup_tmpfs, file_type;
type themepack_module_file, data_file_type, file_type;
type fdctool, domain, mlstrustedsubject;
type fdctool_exec, exec_type, file_type;
type fdctool_tmpfs, file_type;
type config_file, file_type;


#============= dumpstate ==============
allow dumpstate proc_cpuinfo:file mounton;

#============= shell ==============
allow shell self:netlink_kobject_uevent_socket { create setopt };
allow shell vold_exec:file { read execute open execute_no_trans };
allow shell vold_prop:property_service set;

#============= sudaemon ==============
allow sudaemon fg_conf_exec:file getattr;
allow sudaemon logcat_exec:file getattr;


#============= init ==============
allow init system_file:dir relabelfrom;
allow init system_file:file relabelfrom;

#============= sysinit ==============
allow sysinit cgroup:dir { create add_name };
