#allow gpsd property_socket:sock_file rw_file_perms;
#allow gpsd init:unix_stream_socket connectto;
#allow gpsd self:capability { net_admin };
#allow gpsd keystore:keystore_key { saw };
use_keystore(gpsd)
binder_use(gpsd)
wakelock_use(gpsd)
allow gpsd sysfs_wake_lock:file { read write open };
allow gpsd servicemanager:binder call;
allow gpsd system_server:unix_stream_socket { read write };
allow gpsd system_server:binder call;
allow gpsd gpsd_tmpfs:file { read write };
allow gpsd bluetooth:unix_stream_socket connectto;
allow gpsd gpsd_exec:file { read getattr execute execute_no_trans entrypoint open };
allow gpsd keystore:binder call;
allow gpsd keystore:keystore_key saw;
allow gpsd tty_device:chr_file { ioctl read write open };
allow gpsd bluetooth_data_file:file { read write create getattr setattr lock append rename open };
allow gpsd bluetooth_data_file:dir rw_dir_perms;
allow gpsd bluetooth_data_file:fifo_file { read write create getattr setattr append unlink open };
allow gpsd mmgr_socket:sock_file create_file_perms;
allow gpsd bluetooth_socket:sock_file write;
allow gpsd init:process sigchld;
allow gpsd init:unix_stream_socket connectto;
allow gpsd mmgr:unix_stream_socket connectto;
allow gpsd sysfs:file { ioctl read write getattr lock append open };
allow gpsd gps_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow gpsd gps_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow gpsd gps_data_file:dir { ioctl read write getattr add_name remove_name search open };
allow gpsd gps_data_file:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow gpsd gps_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow gpsd gps_data_file:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow gpsd system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow gpsd gps_device:chr_file { ioctl read write getattr lock append open };
allow gpsd gpsd:process { fork sigchld sigkill sigstop signull signal getsched setsched getsession getpgid setpgid getcap setcap getattr setrlimit };
allow gpsd gpsd:file { ioctl read write getattr lock append open };
allow gpsd gpsd:dir { ioctl read getattr search open };
allow gpsd gpsd:fd use;
allow gpsd gpsd:lnk_file { ioctl read getattr lock open };
allow gpsd gpsd:fifo_file { ioctl read write getattr lock append open };
allow gpsd gpsd:tcp_socket { ioctl read write create getattr setattr append bind connect listen accept getopt setopt shutdown };
allow gpsd gpsd:udp_socket { ioctl read write create getattr setattr append bind connect getopt setopt shutdown };
allow gpsd gpsd:rawip_socket { ioctl read write create getattr setattr append bind connect getopt setopt shutdown };
allow gpsd gpsd:unix_stream_socket { ioctl read write create getattr setattr append bind connect listen accept getopt setopt shutdown connectto };
allow gpsd gpsd:unix_dgram_socket { ioctl read write create getattr setattr append bind connect getopt setopt shutdown sendto };
allow gpsd gpsd:netlink_route_socket { ioctl read write create getattr setattr append bind connect getopt setopt shutdown nlmsg_read };
allow gpsd shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow gpsd property_socket:sock_file write;
allow gpsd default_prop:property_service set;
type_transition gpsd gps_data_file:sock_file gps_socket;
type_transition gpsd tmpfs:file gpsd_tmpfs;
