allow healthd self:capability { dac_override dac_read_search };
#============= healthd ==============
allow healthd tmpfs:chr_file ioctl;
allow healthd tmpfs:sock_file write;
allow healthd rootfs:file entrypoint;
allow healthd fg_conf_exec:file { read getattr execute execute_no_trans open };
allow healthd shell_exec:file { ioctl read getattr lock execute execute_no_trans open };

