type pclink_device, dev_type;
type pclinkd, domain, netdomain;
type pclinkd_socket, file_type;
type_transition pclinkd shell_exec:process shell;

allow pclinkd functionfs:file { ioctl read write getattr lock append open };
allow pclinkd functionfs:dir search;
allow pclinkd rootfs:file { read getattr execute entrypoint open };
allow pclinkd kernel:security read_policy;
allow pclinkd pclinkd:process { fork sigchld sigkill sigstop signull signal getsched setsched getsession getpgid setpgid getcap setcap getattr setrlimit };
allow pclinkd pclinkd:capability { setgid setuid setpcap };
allow pclinkd pclinkd:file { ioctl read write getattr lock append open };
allow pclinkd pclinkd:dir { ioctl read getattr search open };
allow pclinkd pclinkd:fd use;
allow pclinkd pclinkd:lnk_file { ioctl read getattr lock open };
allow pclinkd pclinkd:fifo_file { ioctl read write getattr lock append open };
allow pclinkd pclinkd:tcp_socket { ioctl read write create getattr setattr append bind connect listen accept getopt setopt shutdown };
allow pclinkd pclinkd:udp_socket { ioctl read write create getattr setattr append bind connect getopt setopt shutdown };
allow pclinkd pclinkd:rawip_socket { ioctl read write create getattr setattr append bind connect getopt setopt shutdown };
allow pclinkd pclinkd:unix_stream_socket { ioctl read write create getattr setattr append bind connect listen accept getopt setopt shutdown connectto };
allow pclinkd pclinkd:unix_dgram_socket { ioctl read write create getattr setattr append bind connect getopt setopt shutdown sendto };
allow pclinkd init:process sigchld;
allow pclinkd pclinkd:netlink_route_socket { ioctl read write create getattr setattr append bind connect getopt setopt shutdown nlmsg_read };
allow pclinkd devpts:chr_file { ioctl read write getattr lock append open };
allow pclinkd system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow pclinkd shell_exec:file { read getattr execute open };
allow pclinkd appdomain:unix_stream_socket connectto;
allow pclinkd shell:process { transition noatsecure siginh rlimitinh };
#dontaudit pclinkd shell:process noatsecure;
allow pclinkd pclink_device:chr_file { ioctl read write getattr lock append open };
