allow wpa config_file:dir search;
allow wpa efs_file:dir r_dir_perms;
allow wpa efs_file:file rw_file_perms;
allow wpa config_file:file { open read};
#============= wpa ==============
allow wpa tmpfs:chr_file { read write getattr open ioctl };
allow wpa tmpfs:file open;
allow wpa tmpfs:sock_file write;
